.showAllCard{
    display:grid;
    width:76%;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    
    
}

.AllContentHere{
    display:flex;
    column-gap: 10px;
    margin-top: 30px;
   
}
#filter{
    width:23%;
    position:fixed;
    position:relative;
    
}
#shortData{
    display:flex;
    right:0;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 23%; */;
    
    margin-top:30px;
    background-color: white;
}
#filterDiv{
    color:black;
   
    background-color: white;
    
}